In [3]:
import pandas as pd
import numpy as np

# Series

In [26]:
population_dict = {'California': 38332521,'Texas': 26448193,'New York': 19651127,'Florida': 19552860,'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [10]:
population["California":"Illinois"]

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [11]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [14]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [20]:
pd.Series({2:"a", 1:"b", 3:"c"}, index = [3, 2])

3    c
2    a
dtype: object

# DataFrame

In [27]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,'Florida': 170312, 'Illinois': 149995}

In [28]:
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [29]:
states = pd.DataFrame({"Population": population, "Area": area})
states

            Population    Area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [30]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [31]:
states.columns

Index(['Population', 'Area'], dtype='object')

In [32]:
states.values

array([[38332521,   423967],
       [26448193,   695662],
       [19651127,   141297],
       [19552860,   170312],
       [12882135,   149995]], dtype=int64)

In [34]:
states["Area"]

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: Area, dtype: int64

In [35]:
states["Population"]

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: Population, dtype: int64

In [36]:
pd.DataFrame(population, columns = ["Population"])

            Population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [37]:
data = [{"a": i, "b": 2*i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [38]:
#pandas with NaN values
pd.DataFrame([{"a": 1, "b": 2}, {"b": 3, "c": 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [39]:
type(area)

pandas.core.series.Series

In [40]:
states

            Population    Area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [42]:
pd.DataFrame(np.random.rand(3, 2), columns = ["foo", "bar"], index = ["a", "b", "c"])

        foo       bar
a  0.525472  0.327713
b  0.054424  0.661598
c  0.377925  0.515832

In [43]:
A = np.zeros(3, dtype = [("A", "i8"), ("B", "f8")])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [44]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

# Index

In [45]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [46]:
ind[1]

3

In [47]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [48]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [49]:
ind[1] = 0

TypeError: Index does not support mutable operations

In [50]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [51]:
indA

Int64Index([1, 3, 5, 7, 9], dtype='int64')

In [52]:
indB

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [53]:
indA & indB

C:\Users\Luan Vo\AppData\Local\Temp\ipykernel_14016\144964795.py:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.
  indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [54]:
indA.intersection(indB) #intersection A ∩ B

Int64Index([3, 5, 7], dtype='int64')

In [56]:
indA | indB

C:\Users\Luan Vo\AppData\Local\Temp\ipykernel_14016\3251124211.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [57]:
indA.union(indB) # A ∪ B

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [58]:
indA ^ indB

C:\Users\Luan Vo\AppData\Local\Temp\ipykernel_14016\2832893868.py:1: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead.
  indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')

In [60]:
indA.symmetric_difference(indB)

Int64Index([1, 2, 9, 11], dtype='int64')

# Data Indexing and Selection

### Data Selection in Series

In [62]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index = ["a", "b", "c", "d"])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [63]:
data["b"] #Chỉ số tường minh (explicit)

0.5

In [64]:
data[1] #Chỉ số ngầm định (implicit)

0.5

In [65]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [66]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [67]:
#Extend
data["e"] = 1.25

In [68]:
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [69]:
#Slicing by explicit index
data["a":"c"]

a    0.25
b    0.50
c    0.75
dtype: float64

In [70]:
#Slicing by implicit integer index
data[0:2]

a    0.25
b    0.50
dtype: float64

In [72]:
# masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [73]:
# fancy indexing
data[["a", "e"]]

a    0.25
e    1.25
dtype: float64

In [74]:
data = pd.Series(["a", "b", "c"], index = [1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [75]:
# loc: explicit indexing
data.loc[1]

'a'

In [76]:
data.loc[1:3]

1    a
3    b
dtype: object

In [77]:
# iloc: implicit indexing
data.iloc[1]

'b'

In [78]:
data.iloc[1:3]

3    b
5    c
dtype: object

### Data Selection in DataFrame