In [1]:
import pandas as pd

#### Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.

In [2]:
df = pd.read_csv("D:/DA2210R1/data/GDPlist.csv", encoding = "ISO-8859-1")

In [6]:
df

          Country      Continent  GDP (millions of US$)
0     Afghanistan           Asia                  18181
1         Albania         Europe                  12847
2         Algeria         Africa                 190709
3          Angola         Africa                 100948
4       Argentina  South America                 447644
..            ...            ...                    ...
120    Uzbekistan           Asia                  45353
121     Venezuela  South America                 315841
122       Vietnam           Asia                 122722
123         Yemen         Africa                  33675
124        Zambia         Africa                  19206

[125 rows x 3 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

#### Tính giá trị lớn nhất và nhỏ nhất của GDP.

In [11]:
print("GDP max:", df["GDP (millions of US$)"].max())
print("GDP min:", df["GDP (millions of US$)"].min())

GDP max: 15094025
GDP min: 10600

#### Hãy cho biết xu hướng phân bố dữ liệu của GDP.

In [3]:
pd.pivot_table(df, values = "GDP (millions of US$)", index = "Continent", aggfunc = "sum").sort_values(by = "GDP (millions of US$)", ascending = False)

               GDP (millions of US$)
Continent
Asia                        24425891
Europe                      19139380
North America               18238447
South America                4141217
Africa                       1820811
Oceania                      1662727

#### Hãy cho biết châu lục nào xuất hiện nhiều nhất?

In [14]:
df["Continent"].mode()

0    Europe
Name: Continent, dtype: object

#### Với mỗi châu lục hãy tính tổng GDP; trung bình cộng GDP. Hợp nhất 2 bảng này thành một bảng duy nhất gồm 3 thông tin: Tên châu lục; Tổng GDP; TBC GDP.

In [4]:
sum_gdp = pd.pivot_table(df, values = "GDP (millions of US$)", index = "Continent", aggfunc = "sum")
mean_gdp = pd.pivot_table(df, values = "GDP (millions of US$)", index = "Continent")

In [5]:
sum_gdp.rename(columns = {'GDP (millions of US$)':"Total GDP"}, inplace = True)
mean_gdp.rename(columns = {'GDP (millions of US$)':"Mean GDP"}, inplace = True)

In [6]:
pd.concat([sum_gdp, mean_gdp], axis = 1)

               Total GDP      Mean GDP
Continent
Africa           1820811  6.278659e+04
Asia            24425891  6.784970e+05
Europe          19139380  5.172805e+05
North America   18238447  1.658041e+06
Oceania          1662727  5.542423e+05
South America    4141217  4.601352e+05